@import url("./fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #1b1b1d;
  --bg-secondary: #242526;
  --text-primary: #e3e3e3;
  --text-secondary: #b98efd;
  --text-bg-primary: #444950;
  --text-bg-primary-hover: #ba8fff;
}

body {
  background-color: var(--bg-primary);
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

body,
* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: inherit;
  color: inherit;
}

/* navigation bar */
.navbar {
  background-color: var(--bg-secondary);
  padding: 1.4rem 1.12rem;
}

.main-div {
  background-color: var(--bg-secondary);
}

.login-signup-form {
  position: relative;

  height: 80%;

  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  margin-bottom: 0.2rem;
}
/* floating label */

.input-div {
  margin-bottom: 0.8rem;
  position: relative;
}

.labelLine {
  position: absolute;
  left: 7.4px;
  top: 6px;
  font-size: 0.9rem;
  background-color: var(--bg-secondary);
  color: grey;
  padding: 0.2rem 0.5rem;
  transition: 0.2s ease;
  z-index: 4;
}

.login-signup-form input,
.login-signup-form select,
.login-signup-form textarea {
  max-width: 13rem;
  position: relative;
  background: var(--bg-secondary);
  font-size: 1.1rem;
  padding: 0.35rem 0.95rem;
  transition: 0.2s ease;
  border: 1.5px solid var(--text-secondary);
  outline: none;
  border-radius: 3px;
  z-index: 2;
}
.login-signup-form select {
  cursor: pointer;
  font-size: 0.99rem;
}

.input-div textarea {
  resize: none;
  height: 5rem;
}

.fa-eye,
.fa-eye-slash,
.fa-eye::after,
.fa-eye-slash::after,
.fa-eye::before,
.fa-eye-slash::before {
  color: grey;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.team-card {
  position: relative;
  background-color: transparent;

  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.team-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.team-card:hover .team-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.team-card-front,
.team-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: inherit;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.team-card-back {
  background-color: transparent;
  color: var(--text-bg-primary);
  transform: rotateY(180deg);
}

.dashing {
  box-shadow: 0 0 3px var(--text-secondary);
}
.dashing:hover {
  box-shadow: 0 0 24px var(--text-secondary);
}

.dashing-muted {
  box-shadow: 0 0 3px var(--text-secondary);
}
.dashing-muted:hover {
  box-shadow: 0 0 18px var(--text-secondary);
}

@media screen and (max-width: 500px) {
  .login-signup-form {
    gap: 0rem;
    margin-bottom: 0.2rem;
  }
}

@media screen and (max-width: 800px) {
  .login-signup-form {
    height: 100%;
  }
}

.navbar-ul {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
}
@media screen and (min-width: 320px) {
  .navbar-ul {
    background-color: var(--bg-secondary);
    position: absolute;
    right: 1rem;
    top: 10rem;
    width: 15rem;
    padding: 1.75rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0.5px 0.5px 1px black, -0.5px -0.5px 6px black;
  }
}

@media screen and (min-width: 425px) {
  .navbar-ul {
    top: 8rem;
  }
}

@media screen and (min-width: 559px) {
  .navbar-ul {
    top: 6rem;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-ul {
    position: relative;
    top: auto;
    right: auto;
    width: fit-content;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    gap: 6px;
  }
}

/* Styling the chatbot */
/* Custom Scrollbar Styles */
*::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}
*::-webkit-scrollbar-thumb {
  background: var(--text-bg-primary); /* scrollbar thumb */
  border-radius: 80rem; /* Rounded edges for the scrollbar thumb */
  box-shadow: 0 0 10px 2px #d27df6; /* Glow effect */
}
*::-webkit-scrollbar-track {
  background: #111111; /* Background color for the track */
}
/* Styling custom bot notification component */
.chatbot-container .imessage {
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto 1rem;
  max-width: 600px;
  padding: 0.5rem 1.5rem;
}
.chatbot-container .imessage > span {
  border-radius: 1.15rem;
  padding: 0.5rem 0.875rem;
  position: relative;
  word-wrap: break-word;
}
.chatbot-container .imessage > span::before,
.chatbot-container .imessage > span::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}
.chatbot-container span.from-bot {
  align-self: flex-end;
  background-color: #248bf5;
  color: #fff;
}
.chatbot-container span.from-bot::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}
.chatbot-container span.from-bot::after {
  background-color: var(--bg-primary);
  border-bottom-left-radius: 0.5rem;
  right: -40px;
  transform: translate(-30px, -2px);
  width: 10px;
}
.chatbot-container span[class^="from-"] {
  margin: 0.5rem 0;
  width: fit-content;
}


/* HTML: <div class="loader"></div> */
.loader {
  --s: 20px;
  
  --_d: calc(0.353*var(--s));
  width: calc(var(--s) + var(--_d));
  aspect-ratio: 1;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  clip-path: polygon(var(--_d) 0,100% 0,100% calc(100% - var(--_d)),calc(100% - var(--_d)) 100%,0 100%,0 var(--_d));
  background:
    conic-gradient(from -90deg at calc(100% - var(--_d)) var(--_d),
     #fff 135deg,#666 0 270deg,#aaa 0);
  animation: l6 2s infinite;
}
.loader:after {
  animation-delay:-1s;
}
@keyframes l6{
  0%  {transform:translate(0,0)}
  25% {transform:translate(30px,0)}
  50% {transform:translate(30px,30px)}
  75% {transform:translate(0,30px)}
  100%{transform:translate(0,0)}
}


